@model EntGlobus.ViewModels.LiveLessonViewModel.LiveTestVideoModel


@{
    ViewData["Title"] = "Index3";
    Layout = "~/Views/Shared/LiveLayout.cshtml";

    string email = User.Identity.Name.ToString() + "@mail.ru";
}

<link rel="stylesheet" href="~/Live/css/font-awesome.css">
<link rel="stylesheet" href="~/Live/css/live.css">


<div class="wrap">
    <div class="main">
        <header>
            <p><a href="~/LiveTest/LiveTest/Lesson" class="back"><i class="fa fa-chevron-left"></i></a> Онлайн сабақ</p>
            <p class="panName">@ViewBag.Pan</p>
        </header>
        <div class="content">
            @{
                if (Model.PodLiveLesson != null)
                {
                    if (Model.PodLiveLesson.UrlVideo == "#")
                    {
                        <a href="#" onclick="UserAwait()" class="live live-new">
                            <div class="video-baner">
                                <span class="live-effect">
                                    <img style="height:30px!important;" src="~/Live/live-gif.gif" />
                                </span>
                                <img src="~/Live/img/user.png">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="live-cont">
                                <p class="lesson-number"><span class="live-true">Live</span>@Model.PodLiveLesson.Nuska</p>
                                <div class="live-text">
                                    <p>Басталуы:</p>
                                    <p class="timeLesson">@Model.PodLiveLesson.StartDate.ToString(format: "H:mm") @Model.PodLiveLesson.StartDate.ToString(format: "MMMM dd")</p>
                                </div>
                                <div class="live-text">
                                    <p>Такырыбы:</p>
                                    <p>@Model.PodLiveLesson.Title</p>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Model.PodLiveLesson.UrlVideo?attendee_name=@User.Identity.Name&attendee_email=@email" class="live live-new">
                            <div class="video-baner">
                                <span class="live-effect">
                                    <img style="height:30px!important;" src="~/Live/live-gif.gif" />
                                </span>
                                <img src="~/Live/img/user.png">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="live-cont">
                                <p class="lesson-number"><span class="live-true">Live</span>@Model.PodLiveLesson.Nuska</p>
                                <div class="live-text">
                                    <p>Басталуы:</p>
                                    <p class="timeLesson">@Model.PodLiveLesson.StartDate.ToString(format: "H:mm") @Model.PodLiveLesson.StartDate.ToString(format: "MMMM dd")</p>
                                </div>
                                <div class="live-text">
                                    <p>Такырыбы:</p>
                                    <p>@Model.PodLiveLesson.Title</p>
                                </div>
                            </div>
                        </a>
                    }
                }
            }
            <div class="history">История <i class="fa fa-chevron-down"></i></div>


            @foreach (var d in Model.HistoryPodLiveLesson)
            {
                <a href="~/LiveTest/LiveTest/HistoryVideo/@d.Id" class="live live-old">
                    <div class="video-baner">
                        <img src="~/Live/img/user.png">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="live-cont">
                        <p class="lesson-number"><span class="live-true">Нұсқа: </span> @d.Nuska</p>
                        <div class="live-text">
                            <p>Такырыбы: </p>
                            <p>@d.Title</p>
                        </div>
                        <div class="live-text">
                            <p>Түсірілді:</p>
                            <p class="timeLesson">@d.StartDate.ToString(format: "H:mm") @d.StartDate.ToString(format: "MMMM dd")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<div style="display:none">

</div>

<script src="~/Live/js/jquery-3.4.1.min.js"></script>
<script>
    function UserAwait() {


    }
</script>