@model IEnumerable<EntGlobus.ViewModels.PanSatilimViewModel>
@{
    ViewData["Title"] = "Money";
}



    <h2>Пәндер сатылымы туралы ақпарат.</h2>



    <p>Жалпы сатылым:<span style="color:blue"> ( @ViewBag.o600<sub>600T</sub>  +  @ViewBag.o800<sub>800T</sub>+  @ViewBag.o1000<sub>1000T</sub>  ) =  @(@ViewBag.o1000 + @ViewBag.o600 + @ViewBag.o800) </span></p>

    <p>Сатып алушылар саны:<span style="color:blue"> (@ViewBag.usercount4<sub>400T</sub>  +@ViewBag.usercount6<sub>600T</sub>  ) =  @ViewBag.usercount адам</span></p>

    <hr>
    <p> Пәндер сатылымы:</p>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <p>№@i @item.Pan:<span style="color:blue"> @item.Buycount рет</span></p>
    }
