@model IEnumerable<EntGlobus.ViewModels.LiveLessonViewModel.PodLiveLessonModel>

@{
    ViewData["Title"] = "PodLive";
}

<h2>@ViewBag.Pan</h2>

<p>
    <a href="~/LiveLesson/CreatePodLive/@ViewBag.Id" class="btn btn-success">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrlVideo)
            </td>
            <td>
                @if(item.Status == true)
                {
                    <p style="color:green;">Активный</p>
                }
                else
                {
                    <p style="color:red">Не активный</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeVideo)
            </td>
            <td>
                @item.StartDate.ToString(format:"dd/MM/yyyy | HH:mm")
            </td>
            <td class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="~/LiveLesson/EditPodLive/@item.Id">Редактировать</a></li>
                    <li class=""><a href="~/LiveLesson/Delete/@item.Id">Удалить</a></li>
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>
