@model IEnumerable<EntGlobus.Models.AppUsern>
@{
    ViewData["Title"] = "UserList";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="col-md-3">
    <h2>Список пользователей @ViewBag.no</h2>
    <h3>@ViewBag.count</h3>
    <form action="/dev/userlist" method="get">

        <div class="col-md-9">
            <input type="text" name="search" value="" class="form-control" />
        </div>
        <div class="col-md-3">
            <input type="submit" value="Искать" class="btn btn-default" />
        </div>   <br /><br />
        <p style="color:red;"> @ViewBag.str</p>
    </form>
    <table class="table">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName @user.UserName</td>
                <td>
                    @if (user.UserName == null)
                    {
                        <p>Не найден пользователей</p>
                    }

                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                </td>
            </tr>
        }
    </table>
</div>